@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,400;1,500&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    
    /* overflow: hidden; */
}
/* navbar page */
.navbar{
    width: 96%;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: black;
}

.navbar .left a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    line-height: 29px;
   
}

.navbar .right{
    padding: 0 10px 0 0;
}

.navbar .right p{
    text-decoration: none;
    color:#ffffffc5;
    font-weight: 400;
    line-height: 29px;
    padding: 10px;
   
}

.container{
    padding: 0 8%;
}

.container h1{
    text-align: center;
    font-size: 35px;
}
.myProfile >div input, .changePassword >div input, .myProfile >div p{
   
    width: 90%;
    height: 30px;
    margin: 13px;
    border: 1px solid black;
}

.myProfile button, .changePassword button, button{
    width: 140px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 2px;
}

::placeholder{
    color: black;
}